.Header {
  background-size: cover;
}
.Header h1 {
  font-family: "Playfair Display", serif;
  font-size: 100px;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 240px;
  color: #fff;
}
.paragraph {
  letter-spacing: 1px;
  line-height: 48px;
  width: 100%;
  color: #fff;
  text-align: center;
}
